:root{
    --bodybg:black;
    --h1col:whitesmoke;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all 0.7s ease 0.2s;
    font-family:"Poppins",sans-serif;
}
body{
    background:var(--bodybg);
}
header{
    width:100vw;
    margin:2% 0;
    color:var(--h1col);
}
h1{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.5%;
}
h1 img{
    width:50px;
    height:50px;
}
main{
    width:95vw;
    height:70vh;
    display:flex;   
    justify-content:center;
    align-items:center;
    max-width:700px;
    margin:2% auto;
}
section{
    display:flex;
    gap:1px;
    width:100%;
    height:70vmin;
    max-height:280px;
}
div{
    position:relative;
    height:100%;
    width:20%;
    border-radius:20px;
}
section .card{
    background-size:cover;
    background-position:top,center;
}
.card:hover {
    width:250%;
}
.card:hover a {
    width:70%;
    margin:auto;
    border-radius:10px;
    left:15%;
}
.card1{
    background:url("/HTML & CSS/Games Studio/Assets/Img/Cover.jpeg");
}
.card2 {
    background: url("/HTML & CSS/Games Studio/Assets/Img/Dead.jpeg");
}
.card3 {
    background: url("/HTML & CSS/Games Studio/Assets/Img/GTA.jpeg");
    background-position:left center !important;
}
.card4 {
    background: url("/HTML & CSS/Games Studio/Assets/Img/Payback2.jpeg");
}
.card5 {
    background: url("/HTML & CSS/Games Studio/Assets/Img/Geometry.jpeg");
}
a:link{
    border-radius:50%;
    padding:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:25px;
    height:25px;
    position:absolute;
    bottom:7px;
    left:30%;
    background:black;
}
a:hover {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 0, 0, 0.8));
    border: 0;
}
a svg{
    width:15px;
    height:18px;
    fill:white;
}
@media only screen and (min-width:800px){
    .card:hover{
        width:100%;
    }
    a{
        left:45%;
    }
}