*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: all 1s ease 0.1s;
}
body{
    width:100vw;
    height:100vh;
    background:linear-gradient(45deg,rgba(0,0,0,0.5),transparent);
    background-size:cover;
    background-repeat:no-repeat;
}
h1 {
    width:90%;
    height:100%;
    margin: 2% auto;
    background: conic-gradient(at 45% 45%, red 0deg, red 90deg, blue 90deg, blue 180deg, green 180deg, green 270deg, yellow 270deg, yellow 360deg);
    background-clip: text;
    -webkit-background-clip:text;  /* For Broad Support */
    font-size: 25em;
    font-family: "Poppins", sans-serif;
    color: transparent;
    display:flex;
    justify-content: center;
    align-items:center;
}
@media only screen and (max-width:210px){
    h1{
        font-size:15em;
    }
}
